h1, {
  font-family: Bungee Shade;
  color: blue;
  text-align: center;
}
.leftmargin {
  background-color: yellow;
}
  h1 {
    Font-size: 50px;
  }
h1 {
  font-size: 50px;
}
h1 {
  font-size: 50px;
  color: red;
}
.title{
  color: red;
  text-align:center;
}
p {
  font-family: Bungee;
  text-align: center;
  font-size: 50px;
}
  
.logo{
  margin-left: 47%;
    
}
body {background-color: yellow;}

  
}